.table-row{
    padding-top:65px;
    border-radius: 2px solid black;
    padding-left:20px;
}
.p-button{
    height: 50px;
    width: 120px;
    justify-content: center;
    margin-left: 20px;
}
.search-button{
    margin: 5px 10px 5px 1000px;
}